<!-- start custom footer snippets -->

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 700,
        offset: -300,
        once: true
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
<script>
    const lightbox = GLightbox({
        selector: 'a[data-lightbox]',
        touchNavigation: true,
        autoplayVideos: true,
    });
</script>



<!-- end custom footer snippets -->